#bibi-projects {
  margin-bottom: 7em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #fafafa;
  float: left;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #bibi-projects {
    margin-bottom: 4em;
  }
}
@media screen and (max-width: 1200px) {
  #bibi-projects {
    padding-left: 0em;
    padding-right: 0em;
  }
}
#bibi-projects .bibi-projects-item {
  float: left;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  #bibi-projects .bibi-projects-item {
    display: block;
  }
}
#bibi-projects .bibi-projects-item .bibi-projects-description,
#bibi-projects .bibi-projects-item .bibi-projects-figure {
  width: 50%;
}
@media screen and (max-width: 768px) {
  #bibi-projects .bibi-projects-item .bibi-projects-description,
  #bibi-projects .bibi-projects-item .bibi-projects-figure {
    display: block;
    width: 100%;
  }
}
#bibi-projects .bibi-projects-item .bibi-projects-figure {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #bibi-projects .bibi-projects-item .bibi-projects-figure {
    height: 400px;
  }
}
#bibi-projects .bibi-projects-item .bibi-projects-description {
  background: #fff;
  padding: 4em;
  font-size: 15px;
  line-height: 36px;
}
@media screen and (max-width: 1200px) {
  #bibi-projects .bibi-projects-item .bibi-projects-description {
    padding: 2em;
  }
}
@media screen and (max-width: 768px) {
  #bibi-projects .bibi-projects-item .bibi-projects-description {
    padding: 1em;
  }
}
#bibi-projects .bibi-projects-item .bibi-projects-description h2 {
  font-family: "Rockwell", arial, sans-serif;
  font-size: 30px;
  line-height: 34px;
  font-weight: 300;
}
#bibi-projects .bibi-projects-item.bibi-img-right .bibi-projects-figure {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  #bibi-projects .bibi-projects-item.bibi-img-right .bibi-projects-figure {
    position: relative;
    top: auto;
    bototm: auto;
    height: 400px;
  }
}

#bibi-interests {
  clear: both;
  padding: 7em 0;
  background: #fafafa;
}
@media screen and (max-width: 768px) {
  #bibi-interests {
    padding: 4em 0;
  }
}
#bibi-interests .bibi-interest {
  margin-bottom: 20px;
}
#bibi-interests .bibi-interest figure {
  margin-bottom: 30px;
}
#bibi-interests .bibi-interest h3 {
  font-size: 18px;
  line-height: 22px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#bibi-interests .bibi-interest h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #e32929;
}
